<!DOCTYPE html>
<html>
<head>
	<title>Card Index</title>
</head>
<body>
	<h1>Your Cards</h1>
	<ul>
		<% for(let i = 0; i < cards.length; i++) { %>
			<li>
				<a href="/cards/<%=cards[i].id%>"><%= cards[i].name%></a> is a <%= cards[i].color%> - <%=cards[i].type%> --
				<a href="/cards/<%=cards[i].id%>/edit">Edit</a><br>
				<form action="/cards/<%=cards[i].id%>?_method=DELETE" method="POST">
					<input type="submit" value="Delete">
				</form>
			</li>
		<% } %>
	</ul>
	<nav>
		<a class="edit" href="/cards/new">Add a New Card</a>
	</nav>
</body>
</html>