<!DOCTYPE html>
<html>
<head>
	<title>View Card</title>
</head>
<body>
	<h1><%=card.name%></h1>
		<div class="image"><img src="<%=card.image%>"></div>
		<div class="info">
			Color: <%=card.color%><br>
			Cost: <%=card.cost%><br>
			Type: <%=card.type%><br>
			Lore: <%=card.text%><br>
			Abilities: <%=card.ability%><br>
		</div><br>
		<nav>
			<a href="/cards">Return to Card Index</a>
		</nav>
</body>
</html>